{% load static %}
{% load IC_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% static 'IC/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'IC/images/favicon .ico' %}" type="image/x-icon">
    <link type="text/css" href="{% static 'IC/css/s.css' %}" rel="stylesheet" />
    <title>IC</title>
</head>
<!--<body style="background: linear-gradient(90deg, #aea4e3, #d3ffe8);">-->



<nav class="navbar navbar-light fixed-top" style="background-color:#00b4d8;">
  <div class="container-fluid">
    <a class="navbar-brand" ><h4  >Учёт показателей эффективности</h4></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="color:white;" >
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Доступные действия</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>


      {% block main_menu %}
      {% if request.user.is_authenticated %}
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href = "{% url 'home' %}">Главная</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Добавление объекта
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
               <li><a class="dropdown-item" title="Возможно использовать только если вы администратор"  href="{% url 'add_service' %}">Добавить службу</a></li>
              <li><a class="dropdown-item" title="Возможно использовать только если вы администратор" href="{% url 'add_department' %}">Добавить отдел/группу</a></li>
              <li><a class="dropdown-item" title="Возможно использовать только если вы администратор"  href="{% url 'add_indicator' %}">Добавить показатель</a></li>
              <li><a class="dropdown-item" title="Возможно использовать только если вы администратор" href="{% url 'add_critical_service' %}" >Добавить критический сервис/службу</a></li>
            </ul>
          </li>


            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Работа с данными
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
               <li><a class="dropdown-item" title="Ввод данных фактического состояния по каждому из показателей."   href="{% url 'input1' %}">Ввод данных за отчётный период</a></li>
              <li><a class="dropdown-item" title="Просмотр отчётов по каждому из отделов. Вам будет представленны суммарные показатели." href="{% url 'department-report-departments' %}">Отчёт отделов</a></li>
              <li><a class="dropdown-item" title="Расчётная форма, показывающая подробную информацию по каждому показателю и позволяющая перейти к просмотру подробностей по каждому из них."  href="{% url 'indicator-settlement-form' %}">Расчётная форма</a></li>
            </ul>
          </li>



           <li class="nav-item">
            <a class="nav-link-active" title="Выход из аккаунта" href="{% url 'logout' %}">{{user.username}}</a>
          </li>
        </ul>

         {% else %}
          <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
           <li class="nav-item">
            <a class="nav-link" title="Регистрация нового пользователя"  href="{% url 'register' %}">Регистрация</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" title="Вход в существующий аккаунт"   href="{% url 'login' %}">Войти</a>
          </li>
          </ul>
          </div>

          {% endif %}
     {% endblock %}


      </div>
    </div>
  </div>
</nav>



</br>
</br>



{% block settlement_form %}
{% endblock %}


{% block report_departments %}
{% endblock %}



{% block data_input %}
{% endblock %}

{% block add_object %}
{% endblock %}

{% block change_object %}
{% endblock %}


{% block change_files %}
{% endblock %}

{% block register %}
{% endblock %}


{% block login %}
{% endblock %}

{% block indicator_detail %}
{% endblock %}

{% block data %}
{% endblock %}
<script  type="text/javascript" src="{% static 'IC/js/bootstrap.bundle.min.js' %}" ></script>
</body>
</html>