{% load static %}
{% load IC_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% static 'IC/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'IC/images/favicon .ico' %}" type="image/x-icon">
    <link type="text/css" href="{% static 'IC/css/s.css' %}" rel="stylesheet" />
    <title>IC</title>
</head>
<body style="background-color:#ffffff; ">


<!--
<nav class="navbar navbar-light fixed-top" style="background-color:#0079c2;">
  <div class="container-fluid">
      <a class="navbar-brand" style="color:#ffffff;"><h4  >Учёт показателей эффективности</h4></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="color:white;" >
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Доступные действия</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>



      {% if request.user.is_authenticated %}
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href = "{% url 'home' %}">Главная</a>
          </li>
            {% if perms.IC.IsEditor %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Добавление объекта
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
               <li><a class="dropdown-item" title="Возможно использовать только если вы администратор"  href="{% url 'add_service' %}">Добавить службу</a></li>
              <li><a class="dropdown-item" title="Возможно использовать только если вы администратор" href="{% url 'add_department' %}">Добавить отдел/группу</a></li>
              <li><a class="dropdown-item" title="Возможно использовать только если вы администратор"  href="{% url 'add_indicator' %}">Добавить показатель</a></li>
              <li><a class="dropdown-item" title="Возможно использовать только если вы администратор" href="{% url 'add_critical_service' %}" >Добавить критический сервис/службу</a></li>
            </ul>
          </li>
            {% endif %}


            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Работа с данными
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
               <li><a class="dropdown-item" title="Ввод данных фактического состояния по каждому из показателей."   href="{% url 'input1' %}">Ввод данных за отчётный период</a></li>
              <li><a class="dropdown-item" title="Просмотр отчётов по каждому из отделов. Вам будет представленны суммарные показатели." href="{% url 'department-report-departments' %}">Отчёт отделов</a></li>
              <li><a class="dropdown-item" title="Расчётная форма, показывающая подробную информацию по каждому показателю и позволяющая перейти к просмотру подробностей по каждому из них."  href="{% url 'indicator-settlement-form' %}">Расчётная форма</a></li>
              <li><a class="dropdown-item" title=""  href="{% url 'CS_input1' %}">Критически важные сервисы/службы</a></li>
            </ul>
          </li>



           <li class="nav-item">
            <a class="nav-link-active" title="Выход из аккаунта" href="{% url 'logout' %}">{{user.username}}</a>
          </li>
        </ul>

         {% else %}
          <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
           <li class="nav-item">
            <a class="nav-link" title="Регистрация нового пользователя"  href="{% url 'register' %}">Регистрация</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" title="Вход в существующий аккаунт"   href="{% url 'login' %}">Войти</a>
          </li>
          </ul>
          </div>

          {% endif %}



      </div>
    </div>
  </div>
</nav>
-->

{% block navbar %}
{% if request.user.is_authenticated %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#ffffff; border-bottom: 3px solid #e2e2e2;" >
  <div class="container-fluid">
      <img src="{% static 'IC/images/logo_horizontal.svg' %}"  style="width:10%; height: 3%;">
  <!--  <a class="navbar-brand" style="color:#0079c2;"><h4  >Учёт показателей эффективности</h4></a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <a class="nav-link active" aria-current="page" style="color:#0079c2;" href="{% url 'logout' %}"> {{user.username}}
          <img src="{% static 'IC/images/user.svg' %}" alt="альтернативный текст" style="border-radius: 100px; padding: 5px; border: 3px solid #0079c2;"></a>
    <!--
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color:#000000;" href="{% url 'logout' %}">{{user.username}}</a>
        </li>
      </ul>
    </div>
    -->
      <!--
      <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color:#ffffff;" title="Регистрация нового пользователя"  href="{% url 'register' %}">Регистрация</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color:#ffffff;"title="Вход в существующий аккаунт"   href="{% url 'login' %}">Войти</a>
        </li>
          </ul>
      </div>
     -->
</nav>

{% endif %}

{% endblock navbar %}


<div class = "row"  style=" min-height:100%;">
{% block main_menu %}
{% if request.user.is_authenticated %}
<div class = "col-md-2" style="background-color:#0079c2; min-height:100%; border-right: 6px solid #e2e2e2; border-top: 4px solid #ffffff;">
</br>
</br>
</br>
</br>

    <ul class="list-group" style="margin-top:15%">

  <li>
      <a class="nav-link active" aria-current="page" style="color:#ffffff;" href = "{% url 'home' %}"><img src="{% static 'IC/images/home.svg' %}" style="margin-right: 10%; margin-left: 3%"> Главная</a>
  </li>

 {% if perms.IC.IsEditor %}
  <li > <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#ffffff;">
          <img src="{% static 'IC/images/plus.svg' %}" style="margin-right: 10%; margin-left: 3%"> Добавление объекта
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" title="Возможно использовать только если вы администратор"  href="{% url 'add_service' %}">Добавить службу</a></li>
             <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" title="Возможно использовать только если вы администратор" href="{% url 'add_department' %}">Добавить отдел/группу</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" title="Возможно использовать только если вы администратор"  href="{% url 'add_indicator' %}">Добавить показатель</a></li>
               <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" title="Возможно использовать только если вы администратор"  href="{% url 'add_critical_service' %}" >Добавить критический сервис/службу</a></li>
          </ul></li>
  <li >
      {% endif %}
      <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#ffffff;">
           <img src="{% static 'IC/images/data.svg' %}" style="margin-right: 12%; margin-left: 5%"> Работа с данными
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" title="Ввод данных фактического состояния по каждому из показателей."   href="{% url 'input1' %}">Ввод данных за отчётный период</a></li>
             <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" title="Просмотр отчётов по каждому из отделов. Вам будет представленны суммарные показатели." href="{% url 'department-report-departments' %}">Отчёт отделов</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" title="Расчётная форма, показывающая подробную информацию по каждому показателю и позволяющая перейти к просмотру подробностей по каждому из них." href="{% url 'indicator-settlement-form' %}">Расчётная форма</a></li>
               <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"  title=""  href="{% url 'CS_input1' %}">Критически важные сервисы/службы</a></li>
          </ul></li>
     <li>
        <a  class="nav-link active" aria-current="page" style="color:#ffffff;" href="{% url 'print_report' %}" align="left" >
            <img src="{% static 'IC/images/print.svg' %}" style="margin-right: 11%; margin-left: 3%">Печать отчёта</a>
     </li>
</ul>
</div>
    {% else %}
    <div class = "col-md-7" style="background-color:#007ac8; min-height:100%; border-right: 6px solid #d2d2d2">

       <img src="{% static 'IC/images/logo.svg' %}" alt="альтернативный текст" style="margin-top:20%; margin-left:20%; ">
        <h3><p style="color:#ffffff" align="middle"> Учёт показателей эффективности </p></h3>
    </div>

    {% endif %}


{% endblock main_menu %}



    {% block index  %}
{% endblock  %}


{% block settlement_form %}
{% endblock %}


{% block report_departments %}
{% endblock %}


{% block add_object %}
{% endblock %}

{% block change_object %}
{% endblock %}


{% block change_files %}
{% endblock %}

{% block register %}
{% endblock %}


{% block login %}
{% endblock %}

{% block indicator_detail %}
{% endblock %}

{% block data %}
{% endblock %}


{% block CS_input %}
{% endblock %}
</div>
<script  type="text/javascript" src="{% static 'IC/js/bootstrap.bundle.min.js' %}" ></script>
</body>
</html>