{% load static %}
{% load IC_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="{% static 'IC/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'IC/images/favicon .ico' %}" type="image/x-icon">
    <link type="text/css" href="{% static 'IC/css/styles.css' %}" rel="stylesheet" />
    <title>IC</title>
</head>
<!--<body style="background: linear-gradient(90deg, #aea4e3, #d3ffe8);">-->


<div >
<div class="container">
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<div class="container-fluid" >
    {% block main_menu %}
    <!--<a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" href = "{% url 'home' %}" role="button">Главная страница</a> <a class="btn btn-secondary" href = "{% url 'indicator-data-input' %}" role="button">Ввод данных за отчётный период</a>  <a class="btn btn-secondary" href = "{% url 'department-report-departments' %}" role="button" >Отчёт отделов</a> <a class="btn btn-secondary" href = "{% url 'indicator-settlement-form' %}" role="button" >Расчётная форма</a><a class="btn btn-secondary" href = "#" role="button">Войти</a> <a class="btn btn-secondary" href = "{% url 'register' %}" role="button">Регистрация</a>-->
    {% if request.user.is_authenticated %}

    <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" href = "{% url 'home' %}" role="button">Главная страница</a>


    <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-placement="top" title="Возможно использовать только если вы администратор" aria-expanded="false">
      Добавление объекта
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <li><a class="dropdown-item" title="Возможно использовать только если вы администратор"  href="{% url 'add_service' %}">Добавить службу</a></li>
      <li><a class="dropdown-item"   title="Возможно использовать только если вы администратор" href="{% url 'add_department' %}">Добавить отдел/группу</a></li>
      <li><a class="dropdown-item"  title="Возможно использовать только если вы администратор" href="{% url 'add_indicator' %}">Добавить показатель</a></li>
      <li><a class="dropdown-item"  title="Возможно использовать только если вы администратор" href="{% url 'add_critical_service' %}" >Добавить критический сервис/службу</a></li>

    </ul>
  </div>


<div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" title="Отчёты по показателям и возможность редактирования фактического их значения." data-bs-toggle="dropdown" aria-expanded="false">
      Работа с данными
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <li><a class="dropdown-item" title="Ввод данных фактического состояния по каждому из показателей." href="{% url 'indicator-data-input' %}">Ввод данных за отчётный период</a></li>
      <li><a class="dropdown-item" title="Просмотр отчётов по каждому из отделов. Вам будет представленны суммарные показатели." href="{% url 'department-report-departments' %}">Отчёт отделов</a></li>
      <li><a class="dropdown-item" title="Расчётная форма, показывающая подробную информацию по каждому показателю и позволяющая перейти к просмотру подробностей по каждому из них." href="{% url 'indicator-settlement-form' %}">Расчётная форма</a></li>
    </ul>
  </div>

        <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Выход из аккаунта" href="{% url 'logout' %}" role="button">{{user.username}} </a>
				{% else %}
				<a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" href="{% url 'register' %}" role="button">Регистрация</a><a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" href="{% url 'login' %}" role="button">Войти</a>
				{% endif %}
    {% endblock %}



</div>
</nav>
</div>
</div>


{% block settlement_form %}
{% endblock %}


{% block report_departments %}
{% endblock %}



{% block data_input %}
{% endblock %}

{% block add_object %}
{% endblock %}

{% block change_object %}
{% endblock %}


{% block change_files %}
{% endblock %}

{% block register %}
{% endblock %}


{% block login %}
{% endblock %}

{% block indicator_detail %}
{% endblock %}
<script  type="text/javascript" src="{% static 'IC/js/bootstrap.bundle.min.js' %}" ></script>
</body>
</html>