
{% extends 'IC/base.html' %}
{% load IC_tags %}




{% block CS_input %}
</br>
<div class="container" align="center">
    <div class="col-12">


<div class="table-responsive">
<table class="table table-bordered table-primary table-striped table-hover" style="border: 10px; margin-top:10%">
    <thead><tr>
        <th><p align="top">Критически важные сервисы/службы</p></th>
        <th><p align="top">Режим работы</p></th>
        <th><p align="top">Рабочих дней в отчётном периоде</p></th>
        <th><p align="top">План, ч</p></th>
        <th><p align="top">Факт, ч</p></th>
        <th><p align="top">Выполнение</p></th>
        <th><p align="top">Принадлежность</p></th>
         <th><p align="top">Подтверждение действия</p></th>
    </tr></thead>
<tbody>

{% for form in forms %}
<form action="{% url url_name form.instance.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
<tr>
    <td class="col-3">
    {{form.instance.title}}
    </td>
    <td class="col-1">
    {{form.instance.working_mode_hours}}/{{form.instance.working_mode_days}}
    </td>
      <td class="col-3">
    {{form.instance.working_days_period}}
    </td>
      <td class="col-3">
    {{form.instance.Operating_time_plan}}
    </td>
      <td class="col-3">
    {{form.Operating_time_actual}}
    </td>
      <td class="col-3">
    {{form.instance.Completion_rate}}
    </td>
      <td class="col-3">
    {{form.instance.Service_ownership}}
    </td>




   <td class="col-1"> <div class="d-grid gap-2">
    <button class="btn btn-outline-primary" type="submit">Сохранить измения</button>
</div>
   </td>
</tr>



</form>
{% endfor %}


</tbody>
</table>
</div>


 </div>
    {% show_pagination page_obj=page_obj %}
</div>
 </br>

{% endblock %}
