{% extends 'IC/base.html' %}
{% load IC_tags %}

{% block data_input %}
</br>
<div class="container">
<div class="table-responsive">
<table class="table table-bordered table-secondary table-striped table-hover" style="border: 10px; margin-top:10%">
    <thead><tr><th>#</th><th>Название отдела/группы</th><th>Название показателя</th><th>Целевой показаетль</th><th>Фактическое значение показателя</th></tr></thead>
    <tbody>
	{% for Indicator in page_obj %}
    <tr><td>{% get_number page_obj forloop.counter %}</td><td>{{Indicator.department.title}}</td><td>{{Indicator.title}}</td><td>{{Indicator.target_indicator}}</td><td>{{Indicator.actual_indicator}}</td></tr>
    {% endfor %}
	</tbody>
</table>
</div>
{% show_pagination page_obj=page_obj %}
</div>


{% endblock %}
