{% extends 'IC/base.html' %}
{% load IC_tags %}

{% block change_object %}
</br>
<div class="container" align="center">

 {% if page_obj.paginator.count == 0 %}

    <div class="card text-center"  style=" margin-top:10%; " >
  <div class="card-header">
    Ошибка
  </div>
  <div class="card-body">
    <p><h5 class="card-title">Нет доступной информации</h5></p>
    <p class="card-text">У вас нет доступа к информации ни по одному из показателй</p>
      <p class="card-text">Обратитесь к руководителю для получения доступа</p>
    <a href="{% url 'home' %}" class="btn btn-primary">Вернуться на главную</a>
  </div>
  <div class="card-footer text-muted">
    Ошибка
  </div>
</div>

    {% else %}

    <div class="col-12">
        <p class="from-control"><h2>{{title}}</h2></p>


<div class="table-responsive">
<table class="table table-bordered table-primary table-striped table-hover" style="border: 10px; margin-top:10%">
    <thead>
    <tr>

        <th><p align="top">Название отдела/группы</p></th>
        <th><p align="top">Название показателя</p></th>
        <th><p align="top">Целевой показаетль</p></th>
        <th><p align="top">Фактическое значение показателя</p></th>
        <th><p align="top">Приложить документ</p></th>
        <th><p align="top">Подтверждение действия</p></th>
    </tr>
    </thead>

<tbody>

{% for form in forms %}
<form action="{% url url_name form.instance.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
<tr>

    <td class="col-3">
       {{form.instance.department}}
    </td>
    <td class="col-3">
    {{form.instance.title}}
    </td>
    <td class="col-1">
    {{form.instance.target_indicator}}
    </td>
    {% if perms.IC.IsEditor %}
    <td class="col-1">
    {{form.actual_indicator}}
    </td>
    {% else %}
    <td class="col-1">
    {{form.instance.actual_indicator}}
    </td>
    {% endif %}
    <a style="display: none;">  {{form.department}}</a>
    <a style="display: none;"> {{form.title}}</a>
     <a style="display: none;">{{form.target_indicator}}</a>
   <a style="display: none;"> {{form.units}}</a>
    <a style="display: none;"> {{form.comment}}</a>
    <a style="display: none;"> {{form.Significance_of_indicator}}</a>
    <a style="display: none;"> {{form.Plan}}</a>




    {% if perms.IC.IsEditor %}
    <td class="col-3">{% for file in fform %}
    <div class="form-error">{{ file.errors }}</div>
   <p align="left"> {{ file }}</p>
    {% endfor %}</td>

     <td class="col-1"> <div class="d-grid gap-2">
    <button class="btn btn-outline-primary" type="submit">Сохранить измения</button>
</div>
   </td>

     {% else %}
    <td class="col-3">
        <p>Ваш уровень допуска не позволяет прикладывать документ </p>
    </td>

    <td class="col-3">
        <p>Действие недоступно </p>
    </td>

     {% endif %}


</tr>



</form>
{% endfor %}


</tbody>
</table>
</div>


 </div>
    {% show_pagination page_obj=page_obj %}
</div>
 </br>

{% endif %}











{% endblock %}
