
{% extends 'IC/base.html' %}
{% load static %}
{% block indicator_detail %}

<div class = "col-md-10">
<div class="container" style="margin-top:6%; ">

<!-- Вариант таблицей-->
<h2>Подробности по показателю:</h2>
<table class="table align-middle" >
<thead>
</thead>
<tbody>
  <tr>
    <td> Название показателя:</td>
    <td>{{indicator.title}} </td>
  </tr>

  <tr>
    <td>Отдел группа:</td>
    <td>{{indicator.department.title}}</td>
  </tr>
  <tr>
    <td> Единицы измерения:</td>
    <td>{{indicator.units}}</td>
  </tr>
  <tr>
    <td>Комментарий:</td>
    <td>{{indicator.comment}}</td>
  </tr>
  <tr>
    <td>Целевой показатель:</td>
    <td>{{indicator.target_indicator}} </td>
  </tr>
  <tr>
    <td> Вес показателя:</td>
    <td>{{indicator.Significance_of_indicator}} </td>
  </tr>
  <tr>
    <td>План:</td>
     <td>{{indicator.Plan}} </td>
  </tr>
  <tr>
    <td>Факт:</td>
    <td>{{indicator.actual_indicator}} </td>
  </tr>
  <tr>
    <td>Значение показателя:</td>
    <td>{{indicator.Degree_of_compliance}}</td>
  </tr>
  <tr>
    <td>Подтверждающие документы:</td>
    <td>{% for file in files %}<p><img src="{% static 'IC/images/pdf.ico' %}"><a href={{file.confirmation_document.url}} download="">{{file.return_filename}}</a> {{file.date_of_download}}</p>{% endfor %}</td>
  </tr>

</tbody>
</table>
<!-- Конец Вариант таблицей-->

</br>
<div align="middle">
<a type="button" class="btn btn-outline-primary" href="{% url 'change_indicator' indicator.id %}" >Редактировать показатель</a>
<a type="button" class="btn btn-outline-primary" href="{% url 'change_files' indicator.id %}" >Изменить документы подтверждения</a>
<a type="button" class="btn btn-outline-primary"  href="{% url 'indicator-settlement-form' %}" >Вернуться назад</a>
</div>
</div>
</br>
</div>
{% endblock %}