{% extends 'IC/base.html' %}

{% block register %}
</br>
<div class="container">
    <h2>Зарегистрируйтесь или <a href="{% url 'login' %}" title="Войти в существующий аккаунт">войдите </a> </h2>

<form method="post">
    {% csrf_token %}

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}

    <button type="submit" class="btn btn-primary">Регистрация</button>
</form>
</div>
{% endblock %}
