{% extends 'IC/base.html' %}
{% load IC_tags %}

{% block report_departments %}

<div class = "col-md-10">
</br>
<div class="container" style=" margin-top:6%">
    <div class = "col-md-11" style="margin-left:5%">


  {% if perms.IC.IsEditor %}
   <div class="table-responsive">
   <table class="table table-hover"  style=" margin-top:3%">
   <thead>
   <tr class="table-secondary" align="middle">
       <th> </th> <th> Целевой показатель </th>  <th>Вес суммарный, ППРТД </th>  <th>ППРТД показатель </th>  <th>Вес суммарный, ПФВИР </th> <th>ПФВИР показатель </th> <th> Значение при достижении целевых показателей отделами и группами</th>
    </tr>
       <tbody>
   <tr align="middle">
   <td>Служба {{ service.title }}</td>
       <td>{{ service.target_indicator }}</td>
       <td> {{ service.sum_weight_PPRTD}}</td>
       <td> {{ service.indicator_PPRTD}}</td>
       <td> {{ service.sum_weight_PFVIR}}</td>
       <td> {{ service.indicator_PFVIR}}</td>
       <td> {{ service.value_when_reached}}</td>

   </tr>
   </tbody>
    </table>
   </div>
     {% endif  %}

<div class="table-responsive">
<table class="table table-hover"  style=" margin-top:3%">
    <thead><tr class="table-secondary" align="middle"><th># </th><th>Название отдела/группы</th><th>Показатель</th><th>Вес, приоритета передачи режимно-технологических данных</th><th>Показатель</th> <th>Вес, приоритет функционирование ВИР</th> <th>Показатель</th></tr></thead>
    <tbody>
    {% for department in page_obj %}
    <tr align="middle"><td >{% get_number page_obj forloop.counter %} </td><td>{{department.title}}</td><td>{{department.department_indicator}}</td><td>{{department.PPRTD_weight}}</td><td>{{department.PPRTD_indicator}}</td><td>{{department.PFVIR_weight}}</td><td>{{department.PFVIR_indicator}}</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% show_pagination page_obj %}
</div>
    </div>
    </div>
{% endblock %}
