{% extends 'IC/base.html' %}
{% load IC_tags %}

{% block report_departments %}
</br>
<div class="container">
<div class="table-responsive">
<table class="table table-bordered table-seconary table-striped table-hover" style="border: 10px; margin-top:10%">
    <thead><tr><th>#</th><th>Название отдела/группы</th><th>Показатель</th><th>Вес, приоритета передачи режимно-технологических данных</th><th>Показатель</th> <th>Вес, приоритет функционирование ВИР</th> <th>Показатель</th></tr></thead>
    <tbody>
    {% for department in page_obj %}
    <tr><td>{% get_number page_obj forloop.counter %}</td><td>{{department.title}}</td><td>{{department.department_indicator}}</td><td>{{department.PPRTD_weight}}</td><td>{{department.PPRTD_indicator}}</td><td>{{department.PFVIR_weight}}</td><td>{{department.PFVIR_indicator}}</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% show_pagination page_obj %}
</div>
{% endblock %}
